<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbFT/JGwoHkuT+AWBKc1T1AQAAAACAAAAAAADZgAAwAAAABAAAAD75nnhik5bGUoe4b7EkIz3AAAAAASAAACgAAAAEAAAADh63hlnsHJAovKzFQf4N/MwAAAA/d1NBN4MqasTJ7gCziSLiwTgYQa8HynqHN7q6iEqvt34B45Eox/DQxql3dkl0ci6FAAAAEvyVFO9tHtWlTeyU+dKM32k+9/e</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>